@model CustomerOrderViewModel

<h2>Müşteri Bilgileri</h2>
<table>
    <tr>
        <th>ID</th>
        <td>@Model.Customer.Id</td>
    </tr>
    <tr>
        <th>Adı</th>
        <td>@Model.Customer.FirstName</td>
    </tr>
    <tr>
        <th>E-posta</th>
        <td>@Model.Customer.Email</td>
    </tr>
</table>

<h2>Siparişler</h2>
<table border="1" cellpadding="10" cellspacing="0">
    <thead>
        <tr>
            <th>Sipariş ID</th>
            <th>Ürün Adı</th>
            <th>Fiyat</th>
            <th>Miktar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.Orders)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.ProductName</td>
                <td>@order.Price.ToString("C")</td>
                <td>@order.Quantiy</td>
            </tr>
        }
    </tbody>
</table>
